html{
  background-image: url("https://i.ytimg.com/vi/LhgEHAWHx2g/maxresdefault.jpg"); 
  /*url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");*/
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color:rgba(0, 0, 0, 0.1);*/
}

h1{
  color:white !important;
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}

body{
   background:transparent !important;
}

input{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

buttom{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.form{
 background:transparent;
 margin-left: 25% !important;
 margin-right: 25% !important;
}

.User-list {
  background:transparent;
  margin-top: 20px !important;
  list-style: none;
}

.Avatar {
  background:transparent;
  padding-top: 7.5px;
  margin-left: 25% !important;
  margin-right: 25% !important;
  text-align: center;  
}

.Avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.Avatar h4 {
  text-transform: capitalize;
  color: white;
}

.Avatar h5{
  color: white;
}